html,
body {
    padding: 0;
    margin: 0;
}
body {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

$primary: #0984e3;

.mdc {
    font-size: 18px;
    line-height: 2;
    font-family: "Open Sans";

    hr {
        width: 100%;
        border: 1px double rgba(0, 0, 0, 0.2);
        height: 1px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0px;
    }

    a {
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        background: white;
        border-left: 5px solid $primary;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);

        margin: 1.5em 10px;
        padding: 0.5em 20px;
    }

    ul,
    ol {
        margin: 0;
    }
}
